{% extends 'base.html.twig' %}

{% block title %}Administrateur index{% endblock %}

{% block body %}
    <h1>Administrateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_administrateur</th>
                <th>Prenom_administrateur</th>
                <th>Date_de_naissance_administrateur</th>
                <th>Telephone</th>
                <th>Email_administrateur</th>
                <th>Adresse_administrateur</th>
                <th>Ville_administrateur</th>
                <th>Pays_administrateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for administrateur in administrateurs %}
            <tr>
                <td>{{ administrateur.id }}</td>
                <td>{{ administrateur.nomAdministrateur }}</td>
                <td>{{ administrateur.prenomAdministrateur }}</td>
                <td>{{ administrateur.dateDeNaissanceAdministrateur ? administrateur.dateDeNaissanceAdministrateur|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ administrateur.telephone }}</td>
                <td>{{ administrateur.emailAdministrateur }}</td>
                <td>{{ administrateur.adresseAdministrateur }}</td>
                <td>{{ administrateur.villeAdministrateur }}</td>
                <td>{{ administrateur.paysAdministrateur }}</td>
                <td>
                    <a href="{{ path('administrateur_show', {'id': administrateur.id}) }}">show</a>
                    <a href="{{ path('administrateur_edit', {'id': administrateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administrateur_new') }}">Create new</a>
{% endblock %}
