{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1>Administrateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrateur.id }}</td>
            </tr>
            <tr>
                <th>Nom_administrateur</th>
                <td>{{ administrateur.nomAdministrateur }}</td>
            </tr>
            <tr>
                <th>Prenom_administrateur</th>
                <td>{{ administrateur.prenomAdministrateur }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance_administrateur</th>
                <td>{{ administrateur.dateDeNaissanceAdministrateur ? administrateur.dateDeNaissanceAdministrateur|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ administrateur.telephone }}</td>
            </tr>
            <tr>
                <th>Email_administrateur</th>
                <td>{{ administrateur.emailAdministrateur }}</td>
            </tr>
            <tr>
                <th>Adresse_administrateur</th>
                <td>{{ administrateur.adresseAdministrateur }}</td>
            </tr>
            <tr>
                <th>Ville_administrateur</th>
                <td>{{ administrateur.villeAdministrateur }}</td>
            </tr>
            <tr>
                <th>Pays_administrateur</th>
                <td>{{ administrateur.paysAdministrateur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('administrateur_index') }}">back to list</a>

    <a href="{{ path('administrateur_edit', {'id': administrateur.id}) }}">edit</a>

    {{ include('administrateur/_delete_form.html.twig') }}
{% endblock %}
