{% extends 'base.html.twig' %}

{% block title %}Parents index{% endblock %}

{% block body %}
    <h1>Parents index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_parent</th>
                <th>Prenom_parent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parent in parents %}
            <tr>
                <td>{{ parent.id }}</td>
                <td>{{ parent.nomParent }}</td>
                <td>{{ parent.prenomParent }}</td>
                <td>
                    <a href="{{ path('parents_show', {'id': parent.id}) }}">show</a>
                    <a href="{{ path('parents_edit', {'id': parent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parents_new') }}">Create new</a>
{% endblock %}
