{% extends 'base.html.twig' %}

{% block title %}Parents{% endblock %}

{% block body %}
    <h1>Parents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parent.id }}</td>
            </tr>
            <tr>
                <th>Nom_parent</th>
                <td>{{ parent.nomParent }}</td>
            </tr>
            <tr>
                <th>Prenom_parent</th>
                <td>{{ parent.prenomParent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('parents_index') }}">back to list</a>

    <a href="{{ path('parents_edit', {'id': parent.id}) }}">edit</a>

    {{ include('parents/_delete_form.html.twig') }}
{% endblock %}
