{% extends 'base.html.twig' %}

{% block title %}ParentsAssociations index{% endblock %}

{% block body %}
    <h5 class="mt-2">liste de vos associations</h5>
   {% if is_granted('ROLE_ADMIN') %} 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Valid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parents_association in parents_associations %}
            <tr>
                <td>{{ parents_association.id }}</td>
                <td>{{ parents_association.valid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('parents_associations_show', {'id': parents_association.id}) }}">show</a>
                    <a href="{{ path('parents_associations_edit', {'id': parents_association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('parents_associations_new') }}">Create new</a>
    {% else %}
    <div class="card p-5 mt-5">
        <div class="card-header">
            <h4>listes association</h4>
        </div>
        <div class="card-body">
              
                         
                       
       
        {% for parent in parents_associations  %} 
             {{ parent.id }}
             <table class="table">
                    <caption>List of users</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">nom </th>
                        <th scope="col">adresse </th>
                        <th scope="col">email</th>
                        <th scope="col">  | </th>
                      </tr>
                    </thead>
                    <tbody>
                {% for association in parent.parentsAssociations %}
                     
                <tr>
                        <th scope="row"> - </th>
                        <td>  {{ association.associations.nomAssociation }}</td>
                        <td>  {{ association.associations.adresseAssociation }}  {{ association.associations.villeAssociation }} </td>
                        <td>{{ association.associations.emailAssociation }} </td>
                        <td> <a href="{{ url('associations_show',{'id':association.associations.id } ) }}">plus d'info</a> </td>
                      </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
        {% endfor %}
    {% endif %}
{% endblock %}
