{% extends 'base.html.twig' %}

{% block title %}TypeActivites{% endblock %}

{% block body %}
    <h1>TypeActivites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_activite.id }}</td>
            </tr>
            <tr>
                <th>Nom_type</th>
                <td>{{ type_activite.nomType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_activites_index') }}">back to list</a>

    <a href="{{ path('type_activites_edit', {'id': type_activite.id}) }}">edit</a>

    {{ include('type_activites/_delete_form.html.twig') }}
{% endblock %}
