{% extends 'base.html.twig' %}

{% block title %}Journaliers{% endblock %}

{% block body %}
    <h1>Journaliers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ journalier.id }}</td>
            </tr>
            <tr>
                <th>Date_de_debut_journalier</th>
                <td>{{ journalier.dateDeDebutJournalier ? journalier.dateDeDebutJournalier|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin_journalier</th>
                <td>{{ journalier.dateFinJournalier ? journalier.dateFinJournalier|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Option_journalier</th>
                <td>{{ journalier.optionJournalier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('journaliers_index') }}">back to list</a>

    <a href="{{ path('journaliers_edit', {'id': journalier.id}) }}">edit</a>

    {{ include('journaliers/_delete_form.html.twig') }}
{% endblock %}
