{% extends 'base.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <h1>Messages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet_message</th>
                <th>Contenu_message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.objetMessage }}</td>
                <td>{{ message.contenuMessage }}</td>
                <td>
                    <a href="{{ path('messages_show', {'id': message.id}) }}">show</a>
                    <a href="{{ path('messages_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('messages_new') }}">Create new</a>
{% endblock %}
