{% extends 'base.html.twig' %}

{% block title %}Activites index{% endblock %}

{% block body %}
    <h1>Activites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>{{ activite.nomActivite }}</td>
                <td>
                    <a href="{{ path('activites_show', {'id': activite.id}) }}">show</a>
                {% if is_granted("ROLE_USER_ADMIN")%}    <a href="{{ path('activites_edit', {'id': activite.id}) }}">edit</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_USER_ADMIN")%}   <a href="{{ path('activites_new') }}">Create new</a> {% endif %}
{% endblock %}
